[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OLSengine"]
	path = OLSengine
	url = https://github.com/msoto-perez/olsengine
